.footer {
    font-size: 40px;
}

body{
    min-height: 110vh;
    display: flex;
    flex-direction: column;
}

#myFooter {
    margin-top: auto;
}

.vertical-line {
    border-left: 2px solid gray;
    height: 80%;
    position:absolute;
    left: 50%;
}